/* --------------------------------
GLOBAL
----------------------------------- */
body {
  /* border: 10px solid rgba(128, 128, 128, 0.87); */
  /* border-top: 0; */
}
div {
  /* border:1px grey solid; */
}
/* --------------------------------
NAVIGATION
----------------------------------- */
.navbar {
  top: 0;
  min-height: 60px;
  background: rgba(128, 128, 128, 0.87);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar h2 {
  text-align: center;
  margin: auto 20px;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}
/* --------------------------------
ABOUT
----------------------------------- */

.about-container {
  display: flex;
  min-height: 300px;
  margin: 30px 0;
  margin-top: 90px;
  background: rgba(248, 248, 248);
  padding: 20px 0;
}

.about-container-image {
  width: 30%;
  display: inline-block;
  min-height: 100px;
  padding-top: 15px;
  align-items: center;
}

#profileimage {
  width: 60%;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  float: right;
}

.about-container-copy {
  width: 70%;
  color: rgb(37, 52, 69);
  min-height: 100px;
  display: inline-block;
  box-sizing: content-box;
  align-items: center;
  padding: 50px;
}

.about-container-copy h1 {
  font-family: "Satisfy", cursive;
  font-size: 60px;
}

.about-container-copy p {
  line-height: 1.5;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
}

/* --------------------------------
RESUME
----------------------------------- */
.resume-container {
  background: rgb(37, 52, 69);
  min-height: 400px;
  margin: 30px 0;
  padding-bottom: 60px;
}

.resume-container img {
  padding: 1% 10%;
  width: 77%;
}

.resume-container h1 {
  font-family: "Satisfy", cursive;
  font-size: 35px;
  padding: 1% 10%;
  color: white;
  padding-top: 35px;
}
/* --------------------------------
PORTFOLIO
----------------------------------- */
.portfolio-container {
  background: rgba(248, 248, 248);

}

.portfolio-container h1 {
  padding: 1% 10%;
  font-family: "Satisfy", cursive;
  font-size: 35px;
  color: rgb(37, 52, 69);
  padding-top: 35px;
}

.portfolio-container-imgs {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  padding-bottom: 80px;
}

.portfolio-container img {
  width: 100%;
  display: inline-block;
}

.hangman {
  width: 48%;
  position: relative;
}
.hangman h2 {
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 15%;
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(37, 52, 69);
  font-family: "Abril Fatface", cursive;
  font-size: 150%;
  
}

.unit-4-game {
  width: 48%;
  position: relative;
}

.unit-4-game h2 {
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 15%;
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(37, 52, 69);
  font-family: "Abril Fatface", cursive;
  font-size: 25px;
}

.trivia-game {
  width: 48%;
  position: relative;
}

.trivia-game h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  opacity: 0;
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(37, 52, 69);
  font-family: "Abril Fatface", cursive;
  font-size: 25px;
}

.rock-paper-scissors {
  width: 48%;
  position: relative;
}

.rock-paper-scissors h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  opacity: 0;
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(37, 52, 69);
  font-family: "Abril Fatface", cursive;
  font-size: 25px;
}

/* --------------------------------
CONTACT
----------------------------------- */

.contact-container {
  min-height: 250px;
  background: rgb(37, 52, 69);
}

.contact-container h1 {
  padding: 1% 10%;
  font-family: "Satisfy", cursive;
  font-size: 35px;
  color: white;
  padding-top: 35px;
}

.contact-container ul {
  padding: 0 10%;
  color: white;
  font-family: "Roboto Slab", serif;
}
.contact-links-container {
  padding: 1% 10%;
  margin-top: 10px;
  display: flex;
}

#github {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
  align-content: center;
}

#linkedin {
  border-radius: 7%;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  align-content: center;
  padding-top: 1px;
}

#gmail {
  border-radius: 8%;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 7px;
}

@media only screen and (min-width: 767px) and (max-width: 600px) {
}

@media only screen and (min-width: 359px) and (max-width: 600px) {
  #github {
    width: 35px;
    justify-content: center;
  }

  #linkedin {
    width: 35px;
    justify-content: center;
  }

  #gmail {
    width: 35px;
    justify-content: center;
  }
}
